{% extends 'webapp/adminhome.html' %}
{% block title %}Update{% endblock %}
{% block content %}

  <div class="container">
    <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    {% for product in products %}
    <table class="table">
      <thead>
        <tr>
          <th>Item Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>description</th>
          <th>image</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{product.quantity}}</td>
          <td><img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}"></td>

            <a href="{% url 'product_update' product.id %}" class="btn btn-primary">Update</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
